<section class="hero">
  {{#if user}}
  {{>userNavbar}}
  {{else}}
  {{>navbar}}
  {{/if}}
</section>
<section class="section">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Reported Stores
      </h1>
    </div>
  </div>
  <div class="container">
    {{>filter userIsAuth=user}}
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Store Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>ZipCode</th>
          <th>Store Type</th>
          <th>
            <abbr
              title="This column represents the price-gouged item for a particular store."
              >Item</abbr
            >
          </th>
          <th>Item Photo:</th>
          <th>Submitted By:</th>
        </tr>
      </thead>
      <tfoot></tfoot>
      <tbody>
        {{#each reportedStores}}
        <tr>
          <td>
            <a
              href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage"
              title="2016–17 UEFA Champions League"
              >{{ this.storename }}</a
            >
          </td>
          <td>{{ this.address }}</td>
          <td>{{ this.city }}</td>
          <td>{{ this.storestate }}</td>
          <td>{{ this.zipcode }}</td>
          <td>Tools</td>
          <td>{{ this.item }}</td>
          <td>PHOTO HERE</td>
          <td>ji2coolPRO</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
